<section id="about">
  <h5>Conheça</h5>
  <h2>Sobre Mim</h2>

  <div class="container about__container">
    <div class="about__me">
      <div class="about__me-image">
        <img src="../../../../assets/foto2.jpg" alt="About image" />
      </div>
    </div>

    <div class="about__content">
      <div class="about__cards">
        <article class="about__card">
          <i class="bi bi-award-fill about__icon"></i>
          <h5>Experiencias</h5>
          <small>Cerca de 1 ano de Experiência</small>
        </article>

        <article class="about__card">
          <i class="bi bi-award-fill about__icon"></i>
          <h5>Tecnologias</h5>
          <small>HTML, CC, JAVASCRIPT, REACT, ANGULAR, Bootstrap, Git</small>
        </article>

        <article class="about__card">
          <i class="bi bi-award-fill about__icon"></i>
          <h5>Projetos</h5>
          <small
            >Participação em <br />
            mais de 10 projetos</small
          >
        </article>
      </div>
      <p>
        Brasileiro nascido na Bahia, sou um jovem apaixonado pela tecnologia e
        entusiasta no mundo da programação, disposto a aprender e evoluir cada vez
        mais. Possuo experiência nas seguintes tecnologias: HTML, CSS (com SASS),
        Bootstrap, JavaScript, ReactJS.
      </p>
  
      <a href="#contact" class="btn btn-primary">
        Vamos conversar
      </a>
    </div>
  </div>
</section>
