<header>
  <div class="container header__container">
    <h5>Ola, eu Sou</h5>
    <div class="logo">
      <img src="../../../../assets/logo.png" alt="logo" />
    </div>

    <h5 class="text-light">Desenvolvedor Front-end</h5>
    <app-curriculo></app-curriculo>

    <div class="me">
      <img src="../../../../assets/foto.png" alt="Foto luis" />
    </div>

    <div class="header__socials">
      <a
        href="https://www.linkedin.com/in/luis-henrique-072244213/"
        target="_blank"
        rel="noreferrer"
        class="header__socials-link"
      >
        <i class="bi bi-linkedin"></i>
      </a>

      <a
        href="https://github.com/luis-henrique-carvalho"
        target="_blank"
        rel="noreferrer"
        class="header__socials-link"
      >
        <i class="bi bi-github"></i>
      </a>

      <a
        href="https://www.instagram.com/luis_henrique_75/?hl=pt"
        target="_blank"
        rel="noreferrer"
        class="header__socials-link"
      >
        <i class="bi bi-instagram"></i>
      </a>
      <a
        href="mailto:luisdev9225@gmail.com"
        alt="email"
        class="header__socials-link"
      >
        <i class="bi bi-envelope-fill"></i>
      </a>
    </div>

    <a href="#contact" class="scroll__down">Rola para baixo</a>
  </div>
</header>
