<footer>
  <a href="#" class='footer__logo'>LuisDev</a>

  <ul class='permalinks'>
    <li><a href="#">Home</a></li>
    <li><a href="#about">Sobre</a></li>
    <li><a href="#experience">Experiencias</a></li>
    <li><a href="#portifolio">Portifólio</a></li>
    <li><a href="#contact">Contato</a></li>
    
  </ul>

  <div class='footer__socials'>
    <a href="https://www.linkedin.com/in/luis-henrique-072244213/"><i class="bi bi-linkedin"></i></a>
    <a href="https://github.com/luis-henrique-carvalho"><i class="bi bi-github"></i></a>
    <a href="https://www.instagram.com/luis_henrique_75/?hl=pt"><i class="bi bi-instagram"></i></a>
  </div>

  <div class="footer__copyright">
    <small>&copy, LuisDev. Todos os direitos reservados</small>
  </div>
</footer>